@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended/MonumentExtended-Light.otf);
  font-style: normal;
  font-weight: 100; }

@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended/MonumentExtended-Regular.otf);
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: ArnoPro;
  src: url(../fonts/ArnoPro/ArnoPro-Regular.otf);
  font-style: normal;
  font-weight: 300; }

body {
  font-family: ArnoPro;
  color: black;
  margin: 0;
  background-color: white; }

a {
  text-decoration: none;
  color: black; }

.socialIcon {
  width: 1.7em; }

h2 {
  font-family: Monument;
  font-weight: 100;
  margin-bottom: 2em;
  text-align: center; }

main {
  padding: 0em 1em; }

.font_weight_light {
  font-weight: 100; }

.font_weight_bold {
  font-weight: 300; }

header {
  background-image: linear-gradient(#f41efb, #fcfcfc00);
  padding: 1em;
  display: flex;
  align-items: flex-start;
  height: 5em;
  justify-content: space-between;
  font-family: Monument;
  font-weight: 100;
  box-sizing: border-box; }

.header__navbar {
  display: flex;
  justify-content: end; }
  .header__navbar ul {
    margin: 0em 0em 0em 1em;
    padding: 0em;
    display: flex;
    align-items: center; }

.navbar__item {
  display: inline-block;
  position: relative;
  font-size: 0.5em;
  padding: 0.2em;
  margin: 0em 0.2em; }
  .navbar__item a {
    color: black;
    background-color: none;
    text-decoration: none; }

#logoContainer {
  display: flex;
  align-items: center; }

#logo {
  width: 5.5em;
  display: none; }

#logoMobile {
  width: 2.5em; }

.navLi:hover {
  border-bottom: 0.15em solid black; }

.active {
  font-weight: bold; }

.navLi:hover ul {
  display: block;
  top: 1.7em; }

.twitchButtonLi {
  display: inline-block;
  position: relative;
  font-size: 0.8em;
  margin: 0em 0.2em; }

.twitchButton {
  background-color: #17d1f8;
  padding: 0.7em 0.7em;
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  color: black; }

.twitchButton:hover {
  transition: all 0.3s;
  transform: translate(0em, -0.3em) scale(1.02); }

footer {
  display: block;
  margin-top: 2em;
  padding: 4em 1em 0em 1em;
  background-image: linear-gradient(to top, #17d1f8, #d9c9a800);
  color: black; }
  footer p {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 1.5em; }
  footer div {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center; }
    footer div a {
      margin: 0.5em; }

#welcomeSection {
  margin: 1em 0em;
  display: block;
  justify-content: space-between;
  align-items: center; }

#welcomeSection div {
  margin-bottom: 1em; }

h1 {
  font-family: Monument;
  font-weight: 100;
  font-size: 2em;
  letter-spacing: 0.2em;
  margin: 0em; }

.goLive {
  font-family: Monument;
  font-weight: 100;
  display: block;
  text-align: center; }

.goLive:hover {
  transition: all 0.3s;
  transform: translate(0em, -0.3em) scale(1.02); }

.goLiveBootstrap {
  font-family: Monument;
  font-weight: 100;
  color: black;
  text-align: center;
  background-color: #17d1f8;
  border: none;
  padding: 0.5em 2em; }

.downloadTwitch {
  padding: 0.5em 2em;
  margin-left: 0.5em; }

#welcomeSection iframe {
  width: 100%;
  height: 225px; }

.articlesSection {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 1em; }

.indexArticle {
  display: block;
  text-align: center;
  padding: 0.5em; }
  .indexArticle p {
    font-size: 1em;
    margin: 0.1em;
    text-align: center; }

.teamProfile {
  width: 8em; }

.teamProfile:hover {
  transition: all 0.3s;
  transform: translate(0em, -0.3em) scale(1.02); }

h3 {
  font-family: Monument;
  font-weight: 100;
  font-size: 1em;
  margin: 0.1em;
  text-align: center;
  text-transform: uppercase;
  color: #17d1f8; }

h4 {
  font-family: Monument;
  font-weight: 100;
  font-size: 1em;
  margin: 0.1em;
  text-align: center; }

h5 {
  font-size: 1em;
  margin: 0.1em;
  text-align: center; }

p {
  font-size: 1.5em; }

/* Calendar */
#calendarSection {
  display: flex;
  justify-content: center; }

.program {
  background-color: rgba(255, 133, 255, 0.5);
  border-radius: 0.4em; }

.calendarDay {
  margin: 2em 0em;
  padding: 1em;
  border: 0.2em solid rgba(255, 133, 255, 0.5);
  border-radius: 0.4em; }

.calendarDay h3 {
  text-align: left;
  font-size: 1.5em; }

.calendarDay h4 {
  font-size: 1.5em;
  margin: 0.5em 0em; }

.calendarDay h6 {
  text-transform: uppercase;
  font-size: 1em;
  margin: 0em; }

table {
  display: none;
  margin: 4em 0em;
  border: none; }

th {
  border: none;
  color: black;
  text-transform: uppercase;
  font-family: Monument;
  color: #17d1f8; }

td {
  text-align: center;
  border: none; }

/* Socialmedia */
.socialMediaSection {
  margin-bottom: 4em; }
  .socialMediaSection h3 {
    margin: 1em 0em;
    color: black;
    font-size: 1em; }
    .socialMediaSection h3 a {
      background-color: #17d1f8;
      border-radius: 0.4em;
      padding: 0.4em 0.8em; }

.InstagramDiv {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em; }

.YoutubeDiv {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em; }

.YoutubeDiv iframe {
  width: 100%; }

.instagramPostImage {
  width: 100%; }

/* Press */
.pressSection {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2em; }
  .pressSection article {
    padding: 1em 2em;
    position: relative;
    margin-left: 1.5em;
    border: 0.2em solid rgba(255, 133, 255, 0.5);
    border-radius: 0.4em; }
    .pressSection article img {
      position: absolute;
      z-index: 1;
      top: -1.5em;
      left: -1.5em; }
    .pressSection article p {
      font-style: oblique;
      color: #333333;
      font-size: 1.1em; }
    .pressSection article h4 {
      text-align: left;
      color: black;
      margin: 1em 0em; }
    .pressSection article a {
      font-size: 0.8em;
      background-color: #17d1f8;
      border-radius: 0.4em;
      padding: 0.2em 0.6em; }

/* Merch */
#store {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto auto auto;
  grid-gap: 1em; }
  #store article {
    display: block;
    text-align: center; }
    #store article a img {
      width: 10em; }
    #store article h3 {
      margin: 0em; }

#raffle {
  display: none; }

/* ----MediaQueries---- */
/* --Tablet-- */
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */
  header {
    padding: 1.5em; }
  .navLi {
    font-size: 1em; }
  #logoMobile {
    display: none; }
  #logo {
    display: block; }
  .twitchButton {
    padding: 0.7em 2.5em; }
  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer p {
      margin: 0em;
      text-align: left; }
    footer div {
      grid-gap: 1em; }
      footer div a {
        margin: 0em; }
  /* Index */
  #welcomeSection {
    display: flex; }
    #welcomeSection iframe {
      width: 400px;
      height: 225px; }
  .goLive {
    display: inline-block; }
  .articlesSection {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto; }
  /* Calendar */
  .calendarMobile {
    display: none; }
  table {
    display: table; }
  /* SocialMedia */
  .YoutubeDiv {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em; }
  /* Press */
  .pressSection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2em; }
  /* Merch */
  #store {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em; } }

/* --Desktop-- */
@media (min-width: 992px) {
  /* Header */
  header {
    padding: 1em 10em; }
  #logo {
    display: block;
    width: 7em; }
  #logoMobile {
    display: none; }
  .navLi {
    font-size: 1em; }
  .twitchButton {
    padding: 0.7em 2.5em; }
  /* Main */
  main {
    padding: 0em 10em; }
  /* Footer */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0em 10em 2em 10em;
    margin-top: 4em; }
    footer p {
      margin: 0em;
      text-align: left; }
    footer #socialFooter {
      grid-gap: 1em; }
      footer #socialFooter a {
        margin: 0em; }
  /* Index */
  #welcomeSection {
    margin: 4em 0em;
    display: flex; }
    #welcomeSection div {
      margin-bottom: 0em; }
    #welcomeSection iframe {
      width: 560px;
      height: 315px; }
  h1 {
    font-size: 2.5em; }
  .goLive {
    display: inline-block; }
  .articlesSection {
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto; }
  h3 {
    font-size: 1.2em; }
  /* Calendar */
  .calendarMobile {
    display: none; }
  table {
    display: table; }
  /* SocialMedia */
  .YoutubeDiv {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em; }
  /* Press */
  .pressSection {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2em; }
  /* Merch */
  #store {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4em; } }
