/* Calendar */

#calendarSection {
  display: flex;
  justify-content: center;
}

.program {
  background-color: $lightprimarycolor;
  border-radius: 0.4em;
}

.calendarMobile {
  width: 100%;
  .calendarDay {
    margin-bottom: 2em;
    border: 0.2em solid $lightprimarycolor;
    border-radius: 0.4em;
    h2 {
      text-align: left;
      font-size: 1.5em;
      margin: 1em;
    }
    h3 {
      font-size: 1.2em;
      margin: 0.5em 0em 1.5em 0em;
    }
  }
}

table {
  display: none;
  border: none;
  th {
    border: none;
    color: black;
    text-transform: uppercase;
    font-family: Monument;
    color: $secondarycolor;
  }

  td {
    text-align: center;
    border: none;
  }
  .hour {
    padding: 0px 15px 15px 15px;
  }
}
