@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended/MonumentExtended-Light.otf);
  font-style: normal;
  font-weight: 100;
}
@font-face {
  font-family: Monument;
  src: url(../fonts/MonumentExtended/MonumentExtended-Regular.otf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: Neuemontreal;
  src: url(../fonts/Neue-montreal/NeueMontreal-Regular.otf);
  font-style: normal;
  font-weight: 300;
}
