body {
  font-family: ArnoPro;
  color: $darkbasecolor;
  margin: 0;
  background-color: white;
}

a {
  text-decoration: none;
  color: $darkbasecolor;
}

.socialIcon {
  width: 1.7em;
}

h2 {
  font-family: Monument;
  font-weight: 100;
  margin-bottom: 2em;
  text-align: center;
}

main {
  padding: 0em 1em;
}
