body {
  font-family: Neuemontreal;
  color: $darkbasecolor;
  margin: 0;
  background-color: white;
  height: 100%;
}

a {
  text-decoration: none;
  color: $darkbasecolor;
}

.socialIcon {
  width: 1.7em;
}

h1 {
  font-family: Monument;
  font-weight: 100;
  margin-bottom: 2em;
  text-align: center;
}

h3 {
  font-family: Monument;
  font-weight: 100;
  font-size: 0.7em;
  margin: 0.1em;
  text-align: center;
}

h4 {
  font-size: 1em;
  margin: 0.1em;
  text-align: center;
}

main {
  padding: 0em 1em;
}

$font-weights: (
  "light": 100,
  "regular": 300,
  "bold": 500,
);

@each $weight, $value in $font-weights {
  .font_weight_#{$weight} {
    font-weight: $value;
  }
}
