/* Press */

.pressSection {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2em;
  article {
    padding: 1em 2em;
    position: relative;
    margin-left: 1.5em;
    border: 0.2em solid $lightprimarycolor;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;
    img {
      position: absolute;
      z-index: 1;
      top: -1.5em;
      left: -1.5em;
    }
    p {
      color: rgb(51, 51, 51);
      font-size: 0.9em;
      height: 100%;
    }
    h2 {
      color: $secondarycolor;
      margin: 1em 0em;
    }
    a {
      font-size: 1em;
      background-color: $secondarycolor;
      border-radius: 0.4em;
      padding: 0.4em 0.6em;
      text-align: center;
      text-transform: lowercase;
      color: white;
    }
  }
}
